<div class="venue-card" (click)="venueDetails(venue)">
  <header class="venue-card__header">
    <h3 class="venue-card__header-title">{{venue.name}}</h3>
  </header>
  <div class="venue-card__body">
    <div class="venue-card__categories">
      <tv-categories [categories]="venue.categories"></tv-categories>
    </div>
    <div class="venue-card__address">
      <span class="venue-card__address-label">Address:</span>
      <p class="venue-card__address-text">
        {{venue.location.address}}, {{venue.location.city}}
      </p>
    </div>
  </div>
</div>
