.venue-card {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(216, 222, 228, .4);
  cursor: pointer;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-title {
    font-size: 1rem;
    color: #333;
  }

  &__categories {
    margin-top: 5px;
  }

  &__address {
    display: flex;
    margin-top: 20px;
  }

  &__address-label {
    font-size: .8rem;
    font-weight: 600;
    margin-right: 5px;
  }

  &__address-text {
    display: inline-block;
    width: 188px;
    font-size: .8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media(min-width: 992px) {
  .venue-card {
    width: 250px;
  }
}
