.venues-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 20px;
  }
}

@media(min-width: 992px) {
  .venues-list {
    flex-direction: row;

    &__item {
      margin-right: 20px;
    }
  }
}
