.venues-list {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 20px;
  }
}

@media(min-width: 992px) {
  .venues-list {
    flex-direction: row;
    
    &__item {
      min-width: 14vw;
      min-height: 200px;
      margin-right: 20px;
    }
  }
}