@import '../../../../../styles.scss';
.categories-list {
  display: flex;

  &__item {
    max-width: 90px;
    padding: 3px 6px;
    margin-right: 5px;
    border-radius: 12px;
    font-size: .7rem;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: $primary-color;
  }
}
