@import '../../../../styles.scss';

.details-card {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(216, 222, 228, .4);

  &__header {
    display: flex;
  }

  &__header-avatar {
    width: 120px;

    > img {
      border-radius: 8px;
      max-width: 100%;
      overflow: hidden;
    }
  }

  &__header-info {
    width: 100%;
    margin-left: 10px;
  }

  &__header-info-heading {
    display: flex;
    margin-bottom: 3px;

    > h3 {
      font-size: 1.2rem;
      color: #333;
    }

    > p {
      padding: 3px;
      margin-left: 10px;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      font-size: .8rem;
      color: #fff;
      line-height: 1.3rem;
      text-align: center;
      background-color: $second-color;
    }
  }

  &__price-list {
    display: flex;
    margin-top: 5px;

    &__item {
      font-size: .8rem;
      color: $third-color;

      &.active {
        color: #333;
      }
    }
  }

  &__save-btn {
    float: right;
    margin-top: 10px;
  }
}

.details-loading {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(216, 222, 228, .4);

  &__header {
    display: flex;
  }

  &__header-avatar {
    width: 83px;
    height: 83px;
    border-radius: 8px;
    @extend .animation;
  }

  &__header-info {
    margin-left: 10px;
  }

  &__header-info-title {
    width: 170px;
    height: 10px;
    @extend .animation;
  }

  &__header-info-categorie {
    margin-top: 10px;
    width: 120px;
    height: 10px;
    @extend .animation;
  }

  &__header-info-price {
    margin-top: 10px;
    width: 60px;
    height: 10px;
    @extend .animation;
  }

  &__tips {
    margin-top: 20px;
  }

  &__tips-header {
    display: flex;
    align-items: center;
  }

  &__tips-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @extend .animation;
  }

  &__tips-user-name {
    margin-left: 10px;
    width: 30%;
    height: 10px;
    @extend .animation;
  }

  &__tips-text {
    margin-top: 10px;
    width: 80%;
    height: 10px;
    @extend .animation;
  }

  &__tips-text.two {
    width: 50%;
  }

  &__tips-text.three {
    width: 30%;
  }
}

@media(min-width: 992px) {
  .details-card {
    &__header {
      justify-content: start;
    }

    &__header-info {
      width: 100%;
      margin-top: 0;
      margin-left: 20px;
    }

    &__save-btn {
      float: none;
    }
  }

  .details-loading {
    &__header-info {
      width: 20%;
      margin-left: 15px;
    }

    &__header-avatar {
      width: 107px;
      height: 107px;
    }

    &__tips-user-name {
      width: 10%;
    }

    &__tips-text {
      width: 20%;
    }

    &__tips-text.two {
      width: 15%;
    }

    &__tips-text.three {
      width: 5%;
    }
  }
}
